body{
    background-color: gray;
}

h2{
    display: inline-block;
}

.form{
    margin-top: 5px;
    display: inline-block;
    width: 300px;
    background-color: white;
    margin-left: 608px;
    padding: 30px;
    border-radius: 10px;
}

.btn{
    margin-top: 15px;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.elements{
    margin-top: 5px;
    margin-left: 5px;
    height: 15px;
}